/* Colors */
:root {
  --font-white: rgb(255, 255, 255);
  --font-black: rgb(0, 0, 0);
  --table-color1: rgb(243,148,8);
}

/* Font-Properties */
.font-family-title {
  font-family: Handlee, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}
.font-family-text {
  font-family: Farsan, Impact, Haettenschweiler, Arial, sans-serif;
}
.font-size-title {
  font-size: 4em;
}
.font-size-subtitle {
  font-size: 2.7em;
}
.font-size-regular {
  font-size: 1.3em;
}
.font-size-footer {
  font-size: 0.8em;
}
.font-weight-bold {
  font-weight: bold;
}

/* Text-Properties*/
.center {
  text-align: center;
}

/* Header */
header {
  background-image: url(pattern-title.jpg);
  background-size: 100%;
  opacity: 0.8;
  color: var(--font-white);
  height: 12em;
  border-bottom: 0.5em solid black;
}
h1 {
  padding-top: 5%;
  text-shadow: 2px 2px var(--font-black);
}

/* Navigation Bar */
.nav-bar {
  background-image: url(pattern-nav-bar.jpg);
  background-size: 100%;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  border-bottom: 0.3em solid black;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  padding: 3% 5%;
  font-size: 2em;
}
.nav-bar li:hover {
  transform: scale(1.3, 1.3);
}
.nav-bar li a {
  text-decoration: none;
  color: var(--font-white);
}
/* Main Content */
h2 {
  margin: 1em auto;
}
p {
  margin: 1em 1.7em;
}
/* Table Content */
table {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
table,
th,
td {
  border: 2px solid black;
}
th {
font-weight: 600;
}
td {
  padding: 0.3em 0.7em;
}
colgroup {
  background-color: var(--table-color1);
  width: 150px;
}
/* Footer */
.footer ul{
text-align: center;
}
.footer ul li{
  display: inline;
}
.footer-media img {
  width: 35px;
}

/* Other Rules */
hr {
  width: 85%;
  border: 3px solid black;
  border-radius: 12px;
}