/** Style Guide **/
:root {
  --main-header-color: #d04848;
  --secundary-header-color: #fd8a8a;
  --main-background-color: #f3b95f;
  --secundary-background-color: #fde767;
  --another-background-color: #f1f7b5;
  --main-text-color: #6895d2;
  --secundary-text-color: #9ea1d4;
  --another-complement-color: #a8d1d1;
}
.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 7vh;
}
h2 {
  font-size: 6vh;
}
h3 {
  font-size: 5vh;
}
p {
  font-size: 2vh;
  padding: 2rem;
}
.center-text {
  text-align: center;
}
.form-text-size {
  font-size: 2vh;
  padding: 0.5rem;
}
/** Header Styles **/
header .main-header {
  height: 10vh;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./media/header-font-opacity.jpg);
  background-position: center;
}
header .nav-header {
  height: 7vh;
  background-color: var(--another-background-color);
}
header .nav-list-header {
  display: flex;
  justify-content: space-evenly;
}
header .nav-list-header li {
  margin-top: 1vh;
}
header .nav-list-header a {
  text-decoration: none;
  color: var(--secundary-text-color);
}
header .nav-list-header li:hover {
  transform: scale(1.2);
}
/** Header Media Queries **/
@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 5vh;
  }
  header h3 {
    font-size: 4vh;
  }
}
@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 4vh;
  }
  header h3 {
    font-size: 3vh;
  }
}
/** About Us Content **/
article .hero-about-content {
  display: flex;
  flex-direction: row;
  background-color: var(--main-background-color);
}
article .card-about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}
article .image-about {
  width: 90%;
  height: 90%;
}
article .image-about img {
  width: 100%;
  height: 100%;
  border-radius: 75px;
  border: 2px solid var(--another-background-color);
}
article .image-about img:hover {
  opacity: 0.65;
  transition: 0.25s ease-in-out;
}
article .title-about h2 {
  margin: 1rem;
}
/** About Us Media Queries **/
@media only screen and (max-width: 600px) {
  article .hero-about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article .card-about-content {
    min-width: 80%;
  }
}
/** Past Events Content **/
article .hero-past-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--secundary-background-color);
  padding-bottom: 2rem;
}
article .card-past-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/** Next Events Content **/
article .hero-next-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--main-background-color);
  padding-bottom: 2rem;
}
article .card-next-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/** Card Cities Styles **/
article .card-cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
}
article .image-cities {
  width: 90%;
  height: 90%;
}
article .image-cities img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  border: 1px solid var(--another-background-color);
}
article .image-cities img:hover {
  opacity: 0.65;
  transition: 0.25s ease-in-out;
}
article .title-cities h2 {
  margin: 1rem;
}
/** Card Cities Media Queries **/
@media only screen and (max-width: 1260px) {
  article .card-cities {
    min-width: 33%;
  }
}
@media only screen and (max-width: 920px) {
  article .card-cities {
    min-width: 50%;
  }
}
@media only screen and (max-width: 630px) {
  article .card-cities {
    min-width: 100%;
  }
}
/** Join Us Content **/
article .hero-join-content {
  display: flex;
  flex-direction: row;
  background-color: var(--secundary-background-color);
  padding-bottom: 2rem;
}
.hero-join-content h2 {
  padding: 2rem;
}
article .hero-join-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}
article .image-join {
  width: 90%;
  height: 90%;
}
article .image-join img {
  width: 100%;
  height: 100%;
  border-radius: 75px;
  border: 2px solid var(--another-background-color);
}
article .image-join img:hover {
  opacity: 0.65;
  transition: 0.25s ease-in-out;
}
article .hero-join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}
.form-join {
  width: 50%;
}
.form-join ul li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.form-join button {
  margin-top: 3rem;
  border-radius: 15px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  box-shadow: 5px 5px 5px var(--another-background-color);
}
.form-join button:hover {
  text-transform: uppercase;
  color: var(--main-header-color);
  transition: 0.15s ease-in-out;
}
.form-join button:active {
  transform: translate(5px, 5px);
  transition: 0.15s ease-in-out;
}
.form-join label {
  margin-left: -2rem;
  margin-bottom: 1rem;
}
.form-join input {
  width: 60%;
  padding: 0.75rem;
  border-radius: 15px;
  background-color: var(--another-complement-color);
  font-size: 2vh;
}
.form-join input:hover {
  border: 2px solid var(--another-background-color);
}
.form-join input:focus {
  color: var(--main-header-color);
  border-radius: 5px;
  width: 95%;
  transition: 0.5s ease-in-out;
}
/** Join Us Media Queries **/
@media only screen and (max-width: 1260px) {
  article .hero-join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-join {
    display: none;
  }
}
@media only screen and (max-width: 1260px) {
  .form-join input {
    width: 90%;}
}
/** Footer Content **/
.footer-content {
  padding-top: 1rem;
  width: 100%;
  background-color: var(--secundary-header-color);
  opacity: 0.9;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
